PORT=5000

# CONFIG SUPABASE SELF HOSTED
# SUPABASE_URL=YOUR_SUPABASE_URL
# SUPABASE_KEY_ANON=YOUR_SUPABASE_KEY_ANON
# SUPABASE_KEY_SERVICE_ROLE=YOUR_SUPABASE_KEY_SERVICE_ROLE

# CONFIG SUPABASE
SUPABASE_URL=YOUR_SUPABASE_URL
SUPABASE_KEY_ANON=YOUR_SUPABASE_KEY_ANON
SUPABASE_KEY_SERVICE_ROLE=YOUR_SUPABASE_KEY_SERVICE_ROLE
SUPABASE_KEY_PUBLISHABLE=YOUR_SUPABASE_KEY_PUBLISHABLE
SUPABASE_KEY_SECRET=YOUR_SUPABASE_KEY_SECRET